// _preview-cell.scss

@use "../abstracts/mixins" as *;

.preview-cell {
  position: relative;

  &__text-div {
    position: absolute;
    bottom: 52px;
  }

  @include breakpoint-up(medium) {
    grid-column: var(--tablet-col);
  }

  @include breakpoint-up(large) {
    grid-column: var(--desktop-col);
  }
}
