// lightbox.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/animations" as *;

.lightbox {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000db;

  &.closing {
    display: block;
    animation: fade-out 0.61s;
  }

  &.open {
    display: block;
    animation: fade-in 0.6s;
  }

  &__display {
    position: absolute;
    top: 46.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: fit-content;

    @include breakpoint-up(medium) {
      top: 50.5%;
    }
  }

  &__button-close {
    align-self: flex-end;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 30px;
    color: $white;

    @include breakpoint-up(medium) {
      margin-bottom: 37px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 48px);

    @include breakpoint-up(medium) {
      max-height: 712px;
      max-width: calc(100vw - 98px);
      width: auto;
    }
  }
}
