// lightbox.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.lightbox {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000000db;

  &.open {
    display: block;
  }

  &__display {
    position: absolute;
    top: 48.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  &__button-close {
    align-self: flex-end;
    margin-bottom: 33px;
    color: $white;

    @include breakpoint-up(medium) {
      margin-bottom: 40px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-width: calc(100vw - 48px);

    @include breakpoint-up(medium) {
      max-height: 712px;
      max-width: calc(100vw - 80px);
      width: auto;
    }
  }
}
