// _preview-grid.scss

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/animations" as *;
@use "sass:math";

.preview-grid {
  display: flex;
  flex-direction: column;
  padding: 0 calc((100vw - 327px) / 2) 24px;
  margin: 0 auto;

  // animation: fade-in 1s;

  @include breakpoint-up(medium) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(572, 5px);
    justify-items: center;
    column-gap: 40px;
    padding: 40px 40px 0;
    max-width: 768px;
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(286, 5px);

    padding: 40px 40px 0;
    max-width: 1440px;
  }
}
