// _preview-grid.scss

@use "../abstracts/mixins" as *;

.preview-grid {
  display: flex;
  flex-direction: column;

  @include breakpoint-up(medium) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(286, 10px);
  }

  @include breakpoint-up(large) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(143, 10px);
  }
}
