/*
Error: Undefined mixin 'breakpoint-up'.
        on line 12 of src/scss/layout/_slideshowmain.scss, in `breakpoint-up'
        from line 12 of src/scss/layout/_slideshowmain.scss

7: .slideshow {
8:   position: relative;
9:   padding: 23px 23px 0 24px;
10:   height: 986px;
11: 
12:   @include breakpoint-up(medium) {
13:     height: 1055px;
14:     padding: 0 40px 40px;
15:     margin-top: 40px;
16:   }
17: 

Backtrace:
src/scss/layout/_slideshowmain.scss:12:in `breakpoint-up'
src/scss/layout/_slideshowmain.scss:12
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Users/anglicus/.rvm/gems/ruby-3.0.2/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/Users/anglicus/.rvm/gems/ruby-3.0.2/bin/sass:23:in `load'
/Users/anglicus/.rvm/gems/ruby-3.0.2/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'breakpoint-up'.\A         on line 12 of src/scss/layout/_slideshowmain.scss, in `breakpoint-up'\A         from line 12 of src/scss/layout/_slideshowmain.scss\A \A 7: .slideshow {\A 8:   position: relative;\A 9:   padding: 23px 23px 0 24px;\A 10:   height: 986px;\A 11: \A 12:   @include breakpoint-up(medium) {\A 13:     height: 1055px;\A 14:     padding: 0 40px 40px;\A 15:     margin-top: 40px;\A 16:   }\A 17: "; }
