// _slideshowmain.css

@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/animations" as *;

.slideshow {
  position: relative;
  padding: 23px 23px 0 24px;
  height: 986px;
  width: 100vw;

  animation: fade-in 1s;

  &__pageturn-div {
    position: relative;
    overflow: hidden;
    width: 200vw;
    display: flex;

    &.turn-right {
      flex-direction: row;
      animation: scroll-in-left 0.6s;
    }

    &.turn-left {
      float: right;
      flex-direction: row-reverse;
      animation: scroll-in-right 0.6s;
    }
  }

  @include breakpoint-up(medium) {
    height: 1055px;
    padding: 0 40px 40px;
    margin-top: 40px;
  }

  @include breakpoint-up(large) {
    margin-top: 100px;
    height: 699px;
  }

  &__preview-div {
    position: relative;
    width: fit-content;
  }

  &__hero-small {
    display: block;
    width: 100%;

    @include breakpoint-up(medium) {
      display: none;
    }
  }

  &__hero-large {
    display: none;

    @include breakpoint-up(medium) {
      display: block;
      width: 475px;
    }
  }

  &__artist-image {
    position: absolute;
    margin-left: 16px;

    &.tablet {
      display: none;

      @include breakpoint-up(medium) {
        display: block;
        position: relative;
        right: -246px;
        height: 128px;
        width: 128px;
      }

      @include breakpoint-up(large) {
        display: none;
      }
    }

    &.mobile-desktop {
      bottom: -117px;
      height: 64px;
      width: 64px;

      @include breakpoint-up(medium) {
        display: none;
      }

      @include breakpoint-up(large) {
        height: 128px;
        width: 128px;
        display: block;
        top: auto;
        bottom: -64px;
        right: -428px;
      }

      @include breakpoint-up(xlarge) {
        bottom: -64px;
        right: -158px;
      }
    }
  }

  &__button-view-image {
    position: absolute;
    top: 16px;
    left: 16px;

    @include breakpoint-up(medium) {
      top: auto;
      bottom: 16px;
    }
  }

  &__title-div {
    position: relative;
    z-index: 2;
    // top: 116px;
    width: 280px;
    height: 116px;

    @include breakpoint-up(medium) {
      position: absolute;
      margin-top: 0;
      top: 0;
      left: 283px;
      width: 342px;
      overflow: visible;
    }

    @include breakpoint-up(large) {
      position: absolute;
      left: calc(450px - (1440px - 100vw) / 1.5);
      height: 100%;
    }
  }

  &__title-background-div {
    position: absolute;
    bottom: 63px;
    width: 100%;
    padding: 24px;
    background-color: $white;

    @include breakpoint-up(medium) {
      position: relative;
      bottom: auto;
      padding: 0px 0px 66px 65px;
      overflow: visible;
    }
  }

  &__title {
    &.van-gogh-self-portrait {
      padding-right: 44px;

      @include breakpoint-up(medium) {
        width: 390px;
        padding-right: 0;
      }
    }

    &.arnolfini-portrait {
      padding-right: 44px;
    }

    &.girl-with-a-pearl-earring,
    &.lady-with-an-ermine,
    &.the-basket-of-apples,
    &.the-boy-in-the-red-vest {
      @include breakpoint-up(medium) {
        width: 390px;
      }
    }

    &.mona-lisa {
      @include breakpoint-up(medium) {
        padding-right: 32px;
      }
    }
  }

  &__artist {
    margin-top: 8px;

    @include breakpoint-up(medium) {
      margin-top: 24px;
    }
  }

  &__text-div {
    position: relative;
    margin-top: -31px;

    @include breakpoint-up(medium) {
      padding-left: 23px;
      margin-top: 16px;
    }

    @include breakpoint-up(large) {
      padding: 0;
      position: absolute;
      top: -46px;
      right: 40px;
      margin: 0;
      width: 476px;
      height: 100%;
    }
  }

  &__painting-year {
    color: $veryLightGray;
    position: relative;
    z-index: 1;
    text-align: right;

    @include breakpoint-up(medium) {
      text-align: left;
    }

    @include breakpoint-up(large) {
      text-align: right;
    }
  }

  &__description {
    z-index: 4;
    position: relative;
    margin-top: -38px;
    margin-bottom: 34px;

    @include breakpoint-up(medium) {
      margin: -124px 115px 32px 92px;
    }

    @include breakpoint-up(large) {
      width: 351px;
      margin: -86px 0px 72px calc((1440px - 100vw) / 5);
    }
  }

  &__link-source {
    color: $medGray;
    position: relative;

    &:hover {
      color: $black;
    }

    @include breakpoint-up(medium) {
      margin-left: 92px;
    }

    @include breakpoint-up(large) {
      position: absolute;
      margin-left: calc((1440px - 100vw) / 5);
      left: 0;
      bottom: 85px;
    }
  }
}
